html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 900px;
  height:250px;
  background-color: blue;
}

h2 {
  display: flex;
  justify-content: center;
  width: 100%;
}
